body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  background-color: #ffe4c4; /* Color de fondo cálido */
  color: #333; /* Color del texto */
}



main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  background-color: #fff; /* Color de fondo de las secciones */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
  margin-right: 20%;
}

h2 {
  color: #ffa07a; /* Color del título (salmon) */
}

/* Estilos para las fotos */
.foto {
  margin-bottom: 20px;
}

.foto img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

/* Estilos para texto resaltado */
 .resaltado {
  color: #ff6347;} /* Color de texto resaltado (tomato) 
 

/* Estilos para listas */
ul {
  list-style-type: none;
  padding-left: 20px;
}

li::before {
  content: "\2022"; /* Código Unicode para el punto de viñeta */
  color: #ff6347; /* Color del punto de viñeta (tomato) */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Estilos para bloques de citas */
blockquote {
  background-color: #ffe4e1; /* Color de fondo del bloque de citas (misty rose) */
  border-left: 5px solid #ff6347; /* Borde izquierdo rojo (tomato) */
  padding: 10px;
  margin: 10px 0;
}
/* Estilos para la barra de navegación */
.navbar {
  background-color:  #fff0f7;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  width: 100px; /* Ancho de la imagen */
  height: auto; /* Altura ajustada automáticamente */
  margin-right: 0; /* Alinea el logo a la izquierda */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  color: #3b3434;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffd700;
}

.container1 {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
