body {
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  background-color: #b0bbe2;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

header h1 {
  text-align: center;
}

main {
  padding: 20px 0;
}

.message {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.message h2 {
  color: #333;
}

.message p {
  color: #666;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #999;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* barra de navegacion */
.navbar {
  background-color:  #fff0f7;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  width: 100px; /* Ancho de la imagen */
  height: auto; /* Altura ajustada automáticamente */
  margin-right: 0; /* Alinea el logo a la izquierda */
}


.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  color: #3b3434;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffd700;
}

.container1 {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}